/* Components*/
@import "./header.css";
@import "./button.css";
@import "./main.css";


/* Font*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
    vertical-align: baseline;
    text-decoration: none;
}

.container{
    width: 1200px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}
